customclientraw.txt
customclientraw.json
realtimegauges.json

#############
## Windows detritus
#############

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac crap
.DS_Store

jsconfig.json
.eslintrc.json
settings.json
launch.json
